# National Health and Nutrition Examination Survey (NHANES) Sleep Disorder Exploratory Data Analysis
Documentation about sleep disorder dataset: https://wwwn.cdc.gov/Nchs/Nhanes/2015-2016/SLQ_I.htm

The sleep disorders (variable name prefix SLQ) data set provides questions on sleep habits and disorders. The number of questions was expanded to include several questions previously asked in NHANES 2007-2008 (and earlier), and two new questions about usual sleep and wake times.

In [1]:
import xport

import numpy as np
import scipy as scp

import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

# sns.set(color_codes=True)
%matplotlib inline

# 1. Load NHANES SLQ data

In [2]:
with open("../../../data/nhanes/2015_2016/questionaires/SLQ_I.XPT", 'rb') as f:
    df = xport.to_dataframe(f)

print(df.shape)
df.head()

(6327, 8)

      SEQN SLQ300 SLQ310  SLD012  SLQ030  SLQ040  SLQ050  SLQ120
0  83732.0  23:30  05:00     5.5     2.0     9.0     1.0     3.0
1  83733.0  23:00  07:00     8.0     1.0     0.0     2.0     0.0
2  83734.0  22:30  05:30     7.0     0.0     9.0     2.0     3.0
3  83735.0  23:30  06:00     6.5     9.0     1.0     1.0     4.0
4  83736.0  99999  06:00     NaN     9.0     9.0     1.0     1.0

In [3]:
cleaned_df = df.loc[df.SLQ300 != '99999']
cleaned_df.head()

      SEQN SLQ300 SLQ310  SLD012  SLQ030  SLQ040  SLQ050  SLQ120
0  83732.0  23:30  05:00     5.5     2.0     9.0     1.0     3.0
1  83733.0  23:00  07:00     8.0     1.0     0.0     2.0     0.0
2  83734.0  22:30  05:30     7.0     0.0     9.0     2.0     3.0
3  83735.0  23:30  06:00     6.5     9.0     1.0     1.0     4.0
5  83737.0  21:00  06:00     9.0     3.0     0.0     2.0     1.0